@import url('https://fonts.googleapis.com/css?family=Ubuntu');

div{
	font-family: 'Ubuntu', sans-serif;
}

p,h1,h2,h3,h4,h5,h6{
	margin : 0px;
	padding:0px;
}

.body{
	background-color: white;
	font-size: 20px;
}
 /* * {background-color: black} */
